.container {
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    grid-template-areas:
        "header header header header header"
        "list-article content content content content"
        "footer footer footer footer footer";

    column-gap: 10px;
    row-gap: 10px;
}
.item {
    border: 1px solid white;
    min-height: 50px;
    font-size: 20px;
}

.card-article {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.article {  
    border: 1px solid var(--border-post);
    background-color: rgb(233, 233, 233);
    border-radius: 12px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.article-content {
    padding: 5px 5px 0 5px;
}

@media(max-width: 900px) {
    .card-article {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        grid-template-areas:
            "header header header"
            "content content content"
            "content content content"
            "list-article list-article list-article"
            "footer footer footer";
    }

    .card-article {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .sidebar {
        grid-area: list-article;
        background-color: #121826;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
}

@media(max-width: 500px) {
    .card-article {
        grid-template-columns: 1fr;
    }
}