* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20px 0 20px;
}

.aside {
    grid-area: list-article;
    background-color: #121826;
    border-radius: 12px;
    width: 185px;
    overflow: hidden;
}
.profile-content {
    color: white;
    font: -webkit-small-control;
    font-size: small;
    padding: 0 5px 0 5px;
}
.aside td {
    vertical-align: top;
}
.aside .colNm {
    font-weight: bold;
}

@media(max-width: 900px) {
    img {
        width: 100%;
        height: auto;
    }

    .aside {
        grid-area: list-article;
        background-color: #121826;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
}