* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20px 0 20px;
}

.header {
    grid-area: header;
    background-color: #121826;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
}
.blog-name {
    padding: 20px;
}
.header.item span {
    color: white;
    font: -webkit-small-control;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    height: auto;
}
.navigation {
    align-self: center;
}
#menu-site {
    display: flex;
    list-style: none;
}
.menu {
    color: white;
    font: -webkit-small-control;
    font-size: medium;
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.sidebar {
    grid-area: list-article;
    background-color: #121826;
    border-radius: 12px;
    width: 185px;
    overflow: hidden;
}
.profile-content {
    color: white;
    font: -webkit-small-control;
    font-size: small;
    padding: 0 5px 0 5px;
}

.footer {
    grid-area: footer;
    background-color: #121826;
    border-radius: 12px;
    overflow: hidden;
}
.follow-me {
    padding: 20px 0 20px 0;
    text-align: center;
}
.social {
    display: inline-flex;
    list-style: none;
}
.social-image {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

@media(max-width: 900px) {
    img {
        width: 100%;
        height: auto;
    }

    .sidebar {
        grid-area: list-article;
        background-color: #121826;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
}